body {
    /* background-color: lavender; */
      background-image: linear-gradient(to bottom right, indigo, lavender);
  }
  
  h1 {
    color: lavender;
    text-align: center;
  }

  h2 {
    color: palevioletred;
    text-align: center;
  }
  
  p {
    font-family: sans-serif;
    font-size: 20px;
  }